.resume-container {
  width: 822px;
  height: 1080px;
  background: #ffffff;
  border: 0.8px solid #000000;
  overflow-y: scroll;
  margin-top: 54px;
  margin-bottom: 129px;
  margin-left: 549px;
  margin-right: 549px;
}
.resume-name-surname {
  margin-top: 68px;
  margin-left: 80px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  /* identical to box height */
  color: #f93b1d;
}
.resume-email {
  margin-left: 80px;
  margin-top: 17px;
  gap: 11px;
  display: flex;
  align-items: center;
}
.resume-email-text {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* off black */
  color: #1a1a1a;
}
.resume-email-icon {
  color: #898989;
}
.resume-phone {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 12px;
  gap: 11px;
}
.resume-phone-icon {
  color: #898989;
}
.resume-phone-text {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  /* off black */
  height: 21px;
  color: #1a1a1a;
}
.resume-about-me-container {
  margin-top: 34px;
  margin-left: 80px;
}
.resume-about-me-text {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #f93b1d;
}
.resume-about-me-value {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  text-transform: lowercase;

  color: #000000;
}
.resume-personal-botton-line {
  /* margin-left: 80px; */
  margin-top: 19px;
  width: 662px;
  height: 0px;
  border: 1px solid #c8c8c8;
}
.resume-finished-image {
  width: 246px;
  height: 246px;

  border-radius: 50%;
  position: absolute;
  top: 82px;
  right: 624px;
}
