.experience-container {
  width: 1098px;
  height: 1080px;

  overflow: scroll;
}

.experience-header-text {
  position: absolute;
  width: 190px;
  height: 29px;
  left: 149px;
  top: 47px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* off black */

  color: #1a1a1a;
}
.experience-header-page-number {
  position: absolute;
  width: 29px;
  height: 24px;
  left: 920px;
  top: 49px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  /* off black */

  color: #1a1a1a;
}
.bottom-line-for-header {
  position: absolute;
  width: 798px;
  height: 0px;
  left: 150px;
  top: 88px;

  /* off black */

  border: 1px solid #1a1a1a;
}
.position-container {
  position: absolute;
  padding-left: 24px;
  left: 126px;
  top: 157px;
}
.position-text {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.position-input {
  box-sizing: border-box;

  width: 798px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  /* Inside auto layout */
  flex: none;
  padding: 13px 16px;
  align-self: stretch;
  flex-grow: 0;
}
.position-min-req {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* შავი/500 */

  color: #2e2e2e;

  /* Inside auto layout */

  flex: none;

  align-self: stretch;
  flex-grow: 0;
}
.employer-container {
  padding-left: 24px;
  position: absolute;
  left: 126px;
  top: 294px;
}
.employer-text {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.employer-input {
  box-sizing: border-box;

  width: 798px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  padding: 13px 16px;
  align-self: stretch;
  flex-grow: 0;
}
.employer-min-req {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* შავი/500 */

  color: #2e2e2e;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.starting-date-container {
  padding-left: 24px;
  position: absolute;
  left: 126px;
  top: 431px;
}
.starting-date-text {
  width: 371px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.starting-date-input {
  box-sizing: border-box;

  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  padding: 13px 16px;
  align-self: stretch;
  flex-grow: 0;
}
.ending-date-container {
  position: absolute;
  padding-left: 24px;
  top: 431px;
  left: 553px;
}
.ending-date-text {
  width: 371px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.ending-date-input {
  /* Frame 133 */
  padding: 13px 16px;
  box-sizing: border-box;

  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.description-container {
  padding-left: 24px;
  position: absolute;
  left: 126px;
  top: 541px;
}
.description-text {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;
}
.description-input {
  box-sizing: border-box;
  padding: 13px 16px;
  width: 798px;
  height: 123px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.bottom-border {
  position: absolute;
  width: 798px;
  height: 0px;
  left: 149px;
  top: 759px;

  border: 1px solid #c1c1c1;
}
.add-more-experience-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;

  position: absolute;
  /* width: 289px; */
  height: 48px;
  left: 149px;
  top: 804px;
  border: none;
  color: #fff;
  background: #62a1eb;
  border-radius: 4px;
}
.back-chevron-left {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 48px;
  top: 45px;

  background: #ffffff;
}
.go-back-button {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  /* align-items: center; */
  padding: 18px 60px;
  gap: 20px;

  position: absolute;
  width: 113px;
  height: 48px;
  left: 150px;
  bottom: 65px;
  border: none;
  background: #6b40e3;
  border-radius: 4px;
}
.go-back-button-text {
  width: 43px;
  height: 20px;
  position: absolute;
  left: 40px;
  bottom: 15px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.08em;

  color: #ffffff;
  /* color: red; */
  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}
.go-next-button {
  padding: 18px 60px;
  gap: 20px;

  position: absolute;
  width: 151px;
  height: 48px;
  right: 972px;
  bottom: 65px;
  border: none;
  background: #6b40e3;
  border-radius: 4px;
}
.go-next-button-text {
  position: absolute;
  left: 35px;
  bottom: 15px;
  width: 81px;
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.08em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.position-check-circle {
  position: absolute;
  left: 790px;
  top: 35px;
  color: #98e37e;
}
.position-error-icon {
  position: absolute;
  left: 830px;
  top: 35px;
  color: #f02424;
}
.border-success {
  border: 1px solid #98e37e;
}
.border-unsuccess {
  border: 1px solid #f02424;
}
.bottom-line-after-about-me {
  position: absolute;
  width: 662px;
  height: 0px;
  right: 80px;
  top: 341px;

  border: 1px solid #c8c8c8;
}
.experience-output-text {
  position: absolute;
  width: 143px;
  height: 22px;
  left: 80px;
  top: 365px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #f93b1d;
}
.position-output-text {
  position: absolute;
  /* width: 178px; */
  height: 20px;
  left: 80px;
  top: 402px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* off black */

  color: #1a1a1a;
}
.experience-starting-ending-output {
  position: absolute;
  width: 183px;
  height: 19px;
  left: 80px;
  top: 429px;

  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #919191;
}
.description-output-fixed {
  /* padding: 13px 16px; */
  overflow-wrap: break-word;
  position: absolute;
  left: 80px;
  top: 464px;
  /* border: 1px solid black; */
  width: 600px;
  height: 66px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  text-transform: capitalize;
  color: #000000;
}
.position-container-two {
  position: absolute;
  left: 126px;
  top: 788px;
}
.position-text-two {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.employer-container-two {
  position: absolute;
  left: 126px;
  top: 925px;
}
.experience-added-form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 680px;
  left: 0px;
}
.experience-added-form-item {
}
