@font-face {
  font-family: HelveticaNeue;
  src: url("/src/fonts/HelveticaNeue.ttc") format("TTC");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue;
  /* background-color: #f9f9f9; */
}
